@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Are you sure you want to delete the " + Model.Name + " Role?";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>
    <div class="dimPage">
        <h3>Deleting this Role will remove all users from this role. It will not delete the users.</h3>

        <hr />
        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List of Roles", "Index")
            </div>
        }
    </div>
</div>