@model IEnumerable<FinalProject.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add a Completed Course", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseCompletionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionId })
            </td>
        </tr>
        }

    </table>
</div>