@model FinalProject.DATA.EF.LessonView

@{
    ViewBag.Title = "Are you sure you want to delete this viewed lesson?";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to Viewed Lessons", "Index")
            </div>
        }
    </div>
</div>