@model FinalProject.DATA.EF.LessonView

@{
    ViewBag.Title = Model.Lesson.LessonTitle + " Viewed";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>*@
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewId }) |
        @Html.ActionLink("Back to Viewed Lessons", "Index")
    </p>
</div>