@model IEnumerable<FinalProject.DATA.EF.LessonView>

@{
    ViewBag.Title = "Viewed Lessons";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Add a Viewed Lesson", "Create")
        </p>
    }
    <table class="table dimPage">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateViewed)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a href="@Url.Action("Details", "LessonViews")">*@
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    @*</a>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>


                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewId })
                    }
                </td>
            </tr>
        }

    </table>
</div>