@model IEnumerable<FinalProject.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create a new Lesson", "Create")
    </p>
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th></th>
        </tr>*@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="blog-title">
                        <h2>  <a href="@Url.Action("Details", new { id = item.LessonId })">  @Html.DisplayFor(modelItem => item.LessonTitle) </a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>  @Html.DisplayFor(modelItem => item.Introduction) </p>
                    </div>
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.LessonId }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })
                        </td>
                    </tr>
                </div>
            </div><!-- end col -->


        }

    </div>
</div>