@model IEnumerable<FinalProject.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>

    <p>
        <a class="nav-link" href="@Url.Action("Register", "Account")">Register a new User</a>
   
    </p>
    <table class="table dimPage">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>