@model FinalProject.DATA.EF.Course

@{
    ViewBag.Title = "Are you sure you want to delete " + Model.CourseName + "?";
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>


    <div>
        
        <dl class="dl-horizontal dimPage">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @if (Model.IsActive == true)
                {
                <p>Available</p>
                }
                else
                {
                    <p style="color: red;">Course Unavailable</p>
                }
            </dt>

          


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to Courses", "Index")
                </div>
            }
        </dl>
    </div>
</div>