@model FinalProject.DATA.EF.Course

@{
    ViewBag.Title = Model.CourseName;
}
<div class="container tbMargin">
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseName)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>   
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) @:|
        }   
        @Html.ActionLink("Back to Courses", "Index")
    </p>
    </div>